* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.dog-num {
  border: 2px black solid;
}

.button {
  background-color: aqua;
  color: black;
}
